@model WebApplication2.Models.Presentation_Model
@{
    ViewData["Title"] = "My_view";
    // void Disp(double data)
    // {
    //     return <p>Установленное значение = @data</p>
    // }
}

<h1>Расчет объема усеченного конуса</h1>

<input name="Visota" placeholder="Введите высоту конуса" value= @Model.Height />
<input name="Osnovanie1" placeholder="Введите 1 основание конуса" value= @Model.Square_1 />
<input name="Osnovanie2" placeholder="Введите 2 основание конуса" value= @Model.Square_2 />

<textarea>@Model.Result </textarea>